@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins" ;
    @apply bg-background-main overflow-x-hidden;
  }
  .main-container {
    @apply w-full p-container mx-auto;
  }
  @media (min-width: 1536px) {
    .main-container {
      max-width: 1440px;
    }
  }

  .form-container {
    @apply w-full p-container mx-auto;
  }
  @media (min-width: 1024px) {
    .form-container {
      max-width: 1024px;
    }
  }

  .bg-gradient-blue {
    background: radial-gradient(79.68% 100% at 50.03% 100%, #1646F1 0%, #0033B5 100%);
  }
  .bg-lines {
    background-image: url(~/assets/images/background/line1.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@layer components {
  .py-section-common {
    @apply py-8 sm:py-10 xl:py-section
  }
  .section-heading {
    @apply text-basic-12 text-3xl sm:text-4xl lg:text-5xl text-center font-bold
  }
  .text-gradient-green {
    background: linear-gradient(123deg, #05DEDF 4.13%, #5CF1B7 42.86%, #04A1B7 87.68%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .qinput-wrapper {
    @apply overflow-hidden relative;
  }
  .qinput {
    @apply rounded-xl w-full text-base pl-3 border border-basic-5 bg-basic-1 outline-none placeholder-basic-6 text-basic-12;
  }
  .qbutton {
    @apply relative font-medium inline-flex shrink-0 items-center justify-center align-middle ease-linear leading-tight whitespace-nowrap cursor-pointer outline-none m-0 appearance-none box-border select-none overflow-hidden hover:opacity-90;
  }
  .qbutton-group {
    @apply flex flex-nowrap border border-main-blue-1 divide-x divide-main-blue-1 rounded-xl overflow-hidden;
  }
  .qbutton-group button {
    @apply qbutton py-3 px-6;
  }
  .qselect {
    @apply h-10 bg-basic-1 center-x px-3 sm:px-4 xl:px-5 rounded-xl cursor-pointer;
  }
  .bg-loading {
    @apply bg-gradient-to-r from-line-2 to-line-2/30 animate-pulse rounded-lg;
  }

  .text-label {
    @apply text-basic-9 text-base;
  }

  .shadow-xs {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  .shadow-xsm {
    box-shadow: 0px 1px 2px 2px rgba(16, 24, 40, 0.05);
  }

  .p-container {
    @apply px-4 sm:px-6;
  }

  .center-x {
    @apply flex items-center;
  }
  .centeral {
    @apply flex items-center justify-center;
  }

  .box-container {
    @apply p-3 sm:p-4 xl:p-6 rounded-xl bg-basic-1;
  }

  .form-item-wrapper {
    @apply center-x justify-between space-x-3;
  }
  .form-item-label {
    @apply flex-1 text-basic-12;
  }
  .form-item-description {
    @apply text-basic-7 text-sm;
  }
}

.nuxt-icon svg {
  margin: 0px !important;
}